In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

%matplotlib inline

In [2]:
Location = "DC_Properties.csv"
df = pd.read_csv(Location)

df.head()

C:\ProgramData\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [3]:
df.shape

(158957, 49)

In [4]:
df[:5]

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [5]:
df.columns

Index([u'Unnamed: 0', u'BATHRM', u'HF_BATHRM', u'HEAT', u'AC', u'NUM_UNITS',
       u'ROOMS', u'BEDRM', u'AYB', u'YR_RMDL', u'EYB', u'STORIES', u'SALEDATE',
       u'PRICE', u'QUALIFIED', u'SALE_NUM', u'GBA', u'BLDG_NUM', u'STYLE',
       u'STRUCT', u'GRADE', u'CNDTN', u'EXTWALL', u'ROOF', u'INTWALL',
       u'KITCHENS', u'FIREPLACES', u'USECODE', u'LANDAREA',
       u'GIS_LAST_MOD_DTTM', u'SOURCE', u'CMPLX_NUM', u'LIVING_GBA',
       u'FULLADDRESS', u'CITY', u'STATE', u'ZIPCODE', u'NATIONALGRID',
       u'LATITUDE', u'LONGITUDE', u'ASSESSMENT_NBHD', u'ASSESSMENT_SUBNBHD',
       u'CENSUS_TRACT', u'CENSUS_BLOCK', u'WARD', u'SQUARE', u'X', u'Y',
       u'QUADRANT'],
      dtype='object')

In [6]:
df.dropna()

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [7]:
dfprice = df.drop([u'Unnamed: 0', u'BATHRM', u'HF_BATHRM', u'HEAT', u'AC', u'NUM_UNITS',
       u'ROOMS', u'BEDRM', u'AYB', u'YR_RMDL', u'EYB', u'STORIES', u'SALEDATE',u'QUALIFIED', u'SALE_NUM', u'GBA', u'BLDG_NUM', u'STYLE',
       u'STRUCT', u'GRADE', u'CNDTN', u'EXTWALL', u'ROOF', u'INTWALL',
       u'KITCHENS', u'FIREPLACES', u'USECODE', u'LANDAREA',
       u'GIS_LAST_MOD_DTTM', u'SOURCE', u'CMPLX_NUM', u'LIVING_GBA',
       u'FULLADDRESS', u'CITY', u'STATE', u'ZIPCODE', u'NATIONALGRID',
       u'LATITUDE', u'LONGITUDE', u'ASSESSMENT_NBHD', u'ASSESSMENT_SUBNBHD',
       u'CENSUS_TRACT', u'CENSUS_BLOCK', u'WARD', u'SQUARE', u'X', u'Y',
       u'QUADRANT'], axis=1)

In [8]:
df.dropna(axis=1)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,EYB,QUALIFIED,SALE_NUM,BLDG_NUM,FIREPLACES,USECODE,LANDAREA,GIS_LAST_MOD_DTTM,SOURCE,SQUARE
0,0,4,0,Warm Cool,Y,8,4,1972,Q,1,1,5,24,1680,7/22/2018 18:01,Residential,152
1,1,3,1,Warm Cool,Y,11,5,1972,U,1,1,4,24,1680,7/22/2018 18:01,Residential,152
2,2,3,1,Hot Water Rad,Y,9,5,1984,Q,3,1,4,24,1680,7/22/2018 18:01,Residential,152
3,3,3,1,Hot Water Rad,Y,8,5,1984,Q,1,1,3,24,1680,7/22/2018 18:01,Residential,152
4,4,2,1,Warm Cool,Y,11,3,1985,U,1,1,0,13,2032,7/22/2018 18:01,Residential,152
5,5,3,2,Hot Water Rad,Y,10,5,1972,Q,1,1,4,11,2196,7/22/2018 18:01,Residential,152
6,6,1,0,Warm Cool,Y,5,2,1957,U,1,1,0,24,1261,7/22/2018 18:01,Residential,152
7,7,3,1,Hot Water Rad,Y,8,4,1972,Q,1,1,1,24,1627,7/22/2018 18:01,Residential,152
8,8,3,1,Warm Cool,Y,7,3,1967,Q,4,1,1,24,1424,7/22/2018 18:01,Residential,152
9,9,1,1,Hot Water Rad,Y,6,2,1950,U,1,1,0,11,1424,7/22/2018 18:01,Residential,152
10,10,3,0,Forced Air,N,12,5,1954,U,1,1,0,24,1360,7/22/2018 18:01,Residential,152
11,11,5,0,Hot Water Rad,Y,16,6,1950,U,1,1,0,24,2023,7/22/2018 18:01,Residential,152
12,12,2,0,Hot Water Rad,N,9,5,1963,U,1,1,5,24,1837,7/22/2018 18:01,Residential,152
13,13,2,0,Warm Cool,Y,11,5,1963,U,1,1,0,24,1837,7/22/2018 18:01,Residential,152
14,14,3,1,Warm Cool,Y,5,3,1967,Q,1,1,1,24,1815,7/22/2018 18:01,Residential,152
15,15,2,1,Warm Cool,Y,9,4,1947,U,1,1,0,24,1445,7/22/2018 18:01,Residential,152
16,16,3,1,Warm Cool,Y,8,3,1967,Q,1,1,0,11,1424,7/22/2018 18:01,Residential,152
17,17,2,0,Hot Water Rad,N,6,3,1957,U,1,1,0,11,1424,7/22/2018 18:01,Residential,152
18,18,3,1,Hot Water Rad,Y,10,4,1967,U,6,1,1,24,1424,7/22/2018 18:01,Residential,152
19,19,3,1,Hot Water Rad,Y,9,3,1969,Q,1,1,1,24,1424,7/22/2018 18:01,Residential,152
20,20,3,1,Hot Water Rad,Y,14,5,1987,U,3,1,3,13,2090,7/22/2018 18:01,Residential,208
21,21,3,0,Forced Air,Y,12,3,1969,U,4,1,1,24,2090,7/22/2018 18:01,Residential,208
22,22,1,0,Forced Air,Y,6,3,1967,Q,1,1,0,13,2090,7/22/2018 18:01,Residential,208
23,23,2,1,Forced Air,Y,5,3,1984,Q,1,1,1,13,2090,7/22/2018 18:01,Residential,208
24,24,2,1,Hot Water Rad,Y,8,3,1967,Q,1,1,2,12,2090,7/22/2018 18:01,Residential,208
25,25,1,0,Hot Water Rad,N,8,4,1967,U,1,1,0,11,2090,7/22/2018 18:01,Residential,208
26,26,1,0,Hot Water Rad,N,10,5,1960,U,1,1,0,11,1853,7/22/2018 18:01,Residential,208
27,27,3,0,Hot Water Rad,Y,9,3,1967,Q,1,1,0,24,1853,7/22/2018 18:01,Residential,208
28,28,3,0,Warm Cool,Y,10,4,1960,U,3,1,5,24,1853,7/22/2018 18:01,Residential,208
29,29,3,1,Forced Air,Y,11,3,1984,Q,1,1,3,11,1853,7/22/2018 18:01,Residential,208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158927,158927,2,0,Ht Pump,Y,6,3,1993,U,2,1,0,16,903,7/22/2018 18:01,Condominium,475
158928,158928,2,1,Ht Pump,Y,5,2,2013,Q,3,1,0,16,437,7/22/2018 18:01,Condominium,475
158929,158929,2,1,Ht Pump,Y,5,2,2013,Q,1,1,0,16,472,7/22/2018 18:01,Condominium,475
158930,158930,2,0,Forced Air,N,4,2,1919,Q,1,1,1,16,479,7/22/2018 18:01,Condominium,476
158931,158931,2,1,Forced Air,N,4,2,1919,Q,1,1,1,16,479,7/22/2018 18:01,Condominium,476
158932,158932,2,1,Forced Air,N,4,2,1919,Q,3,1,1,16,479,7/22/2018 18:01,Condominium,476
158933,158933,2,0,Ht Pump,Y,4,2,1919,Q,2,1,0,16,306,7/22/2018 18:01,Condominium,476
158934,158934,1,1,Ht Pump,Y,3,1,1919,Q,2,1,0,16,306,7/22/2018 18:01,Condominium,476
158935,158935,1,0,Ht Pump,Y,3,1,1919,Q,2,1,0,16,306,7/22/2018 18:01,Condominium,476
158936,158936,1,0,Ht Pump,Y,3,1,1919,Q,2,1,0,16,306,7/22/2018 18:01,Condominium,476
158937,158937,1,0,Forced Air,Y,4,2,1992,U,1,1,0,16,812,7/22/2018 18:01,Condominium,477
158938,158938,2,0,Warm Cool,Y,7,4,1992,Q,3,1,0,16,993,7/22/2018 18:01,Condominium,477
158939,158939,1,0,Forced Air,Y,4,2,1992,U,2,1,0,16,812,7/22/2018 18:01,Condominium,477
158940,158940,2,0,Forced Air,Y,7,4,1992,U,1,1,0,16,993,7/22/2018 18:01,Condominium,477
158941,158941,1,0,Forced Air,Y,4,2,1992,U,1,1,0,16,887,7/22/2018 18:01,Condominium,477
158942,158942,2,0,Forced Air,Y,7,4,1992,U,1,1,0,16,1085,7/22/2018 18:01,Condominium,477
158943,158943,2,1,Forced Air,Y,5,2,2004,Q,1,1,1,16,934,7/22/2018 18:01,Condominium,477
158944,158944,2,1,Forced Air,Y,5,2,2004,Q,4,1,1,16,934,7/22/2018 18:01,Condominium,477
158945,158945,1,0,Forced Air,Y,3,1,1938,Q,1,1,0,16,407,7/22/2018 18:01,Condominium,477
158946,158946,1,0,Forced Air,Y,4,2,1938,Q,4,1,0,16,502,7/22/2018 18:01,Condominium,477
158947,158947,2,0,Forced Air,Y,4,2,1938,U,1,1,0,16,497,7/22/2018 18:01,Condominium,477
158948,158948,2,0,Forced Air,Y,4,2,1938,Q,1,1,0,16,573,7/22/2018 18:01,Condominium,477
158949,158949,1,1,Forced Air,Y,4,1,1938,Q,6,1,0,16,690,7/22/2018 18:01,Condominium,477
158950,158950,3,0,Forced Air,Y,5,3,1938,U,5,1,0,16,407,7/22/2018 18:01,Condominium,477
158951,158951,3,1,Forced Air,Y,5,3,1938,U,1,1,0,16,502,7/22/2018 18:01,Condominium,477
158952,158952,1,0,Forced Air,Y,3,1,1938,Q,4,1,0,16,394,7/22/2018 18:01,Condominium,477
158953,158953,1,0,Forced Air,Y,4,2,1938,Q,1,1,0,16,506,7/22/2018 18:01,Condominium,477
158954,158954,2,0,Forced Air,Y,4,2,1920,U,1,1,0,16,467,7/22/2018 18:01,Condominium,477
158955,158955,1,0,Warm Cool,Y,2,0,1965,Q,3,1,0,17,332,7/22/2018 18:01,Condominium,504
158956,158956,1,0,Warm Cool,Y,2,0,1965,U,1,1,0,17,332,7/22/2018 18:01,Condominium,504

In [9]:
dfprice.head()

       PRICE
0  1095000.0
1        NaN
2  2100000.0
3  1602000.0
4        NaN

In [10]:
dfx = df.drop([u'Unnamed: 0', u'HF_BATHRM', u'HEAT', u'AC', u'NUM_UNITS',
       u'ROOMS', u'BEDRM', u'AYB', u'YR_RMDL', u'EYB', u'STORIES', u'SALEDATE', u'PRICE', u'QUALIFIED', u'SALE_NUM', u'GBA', u'BLDG_NUM', u'STYLE',
       u'STRUCT', u'EXTWALL', u'ROOF', u'INTWALL',
       u'KITCHENS', u'FIREPLACES', u'USECODE', u'LANDAREA',
       u'GIS_LAST_MOD_DTTM', u'SOURCE', u'CMPLX_NUM', u'LIVING_GBA',
       u'FULLADDRESS', u'CITY', u'STATE', u'ZIPCODE', u'NATIONALGRID',
       u'LATITUDE', u'LONGITUDE', u'ASSESSMENT_NBHD', u'ASSESSMENT_SUBNBHD',
       u'CENSUS_TRACT', u'CENSUS_BLOCK', u'X', u'Y'],axis=1)

In [11]:
dfx.head()

   BATHRM      GRADE      CNDTN    WARD SQUARE QUADRANT
0       4  Very Good       Good  Ward 2    152       NW
1       3  Very Good       Good  Ward 2    152       NW
2       3  Very Good  Very Good  Ward 2    152       NW
3       3  Very Good       Good  Ward 2    152       NW
4       2  Very Good       Good  Ward 2    152       NW

In [12]:
from sklearn.linear_model import LinearRegression
X = dfprice

#assign linear regression function to a variable
lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)